.Login, .FormLogin, .ContainerLogin{
  display: flex;
  justify-content: center;
}

.Login{
  width: auto;
  height: 760px;
  /* background-color: blue; */
  
}

.ContainerLogin{
  width: 400px;
  height: 400px;
  border: 1px #cfcfcf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: green; */
}
.FormLogin{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.TextLogin{
  display: flex;
  justify-content: center;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.Button{
  margin-top: 20px;
}
